@charset "uft-8";
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@font-face {
    font-family: 'FonteLogo'; 
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	    font-family: arial, sens-serif;
            background-color: #dddddd;
	    color: rgba (0,0,0,1);
	}
        
p {
	    text-align: justify;
	    text-indent: 50px;
  }
  
  a {
      color: #606060;
      text-decoration: none;
      font-weight: bold;
  }
  
  a:hover{
      text-decoration: underline;
  }
  
  /*quadro de interface*/
  div#interface {
   width: 900px;
   margin: -15px auto 0px auto; /*cima direita baixo esquerda*/
   box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*deslocamento lateral deslocamento vertical
    espalhamento da sombra e cor da sombra*/
   padding: 15px;
    background-color: white;
  }
  
  /*icone do cabeçalho */
  header#cabecalho img#icone {
   position: absolute;
   left: 950px;
   top: 70px;
  }
  
  header#cabecalho {
   /*tipo de borda*/
   border-bottom: 1px #606060 solid; /*espessura cor e formato*/ 
   height: 150px;
   /*colocar plano de fundo*/
   background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
   
  }
  
  header#cabecalho h1{
      font-family: 'FonteLogo',arial, sans-serif;
      font-size: 30pt;
      color: #606060;
      text-shadow: 1px 1px 1px rgba(0,0,0,.6);
      padding: 0px;
      margin-bottom: 0px;
  }
  
  header#cabecalho h2{
      font-family:'Major Mono Display', monospace;
      color: #888888;
      font-size: 10pt;
      padding: 0px;
      margin-top: 5px;
      
  }
  
  /* FORMATAÇÃO DE IMAGENS COM LEGENDAS */ 
  figure.foto-legenda {
      position: relative;
      border: 8px solid white;
      box-shadow: 1px 1px 4px black;
  }
  
  figure.foto-legenda img {
      width: 100%;
      height: 100%;
  }
  
  figure.foto-legenda figcaption {
      opacity: 0; 
      position: absolute;
      top: 0px;
      background-color: rgba(0,0,0,.4);
      color: white;
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      transition: opacity 1s;
      font-family: Verdana;
  }
  
  figure.foto-legenda:hover figcaption {
      opacity: 1; 
  }
 
  /* FORMATAÇÃO MENU */
  
  nav#menu {
      display: block;
  }
  
  nav#menu ul{
      list-style: none; 
      text-transform: uppercase; /*Letras maiusculas */ 
      position: absolute; /*fica acima de tudo - "relative" fica apenas no bloco*/
      top: -20px; /*negativo diminui margem do topo padrão */
      left: 400px;
  }
  
  nav#menu li {
      display: inline-block; /*Um do lado do outro */
      background-color: #cecece;
      padding: 10px; /*cria espaço dentro do bloco */
      margin: 1px; /*espaço fora do bloco */
     
      -webkit-transition: background-color 3s;
      -o-transition: background-color 3s; /*utilizando prefixer para funcionar
                                          em todos os navegadores */
      transition: background-color 3s; /*efeito de transição*/ 
  }
  
  /* efeito do mouse */
  nav#menu li:hover {
      background-color: #606060; 
      
  }
  
  nav#menu h2 {
     display: none; /*ocultar texto */ 
  }
  
  nav#menu a {
      color: #000000;
      text-decoration: none; /*sem lista no link */
  }

  nav#menu a:hover {
      color: white; /*mudar a cor na transição */
      text-decoration: none;
  }
 
  /*Formatação do corpo*/
  section#corpo {
      display: block;
      width: 500px;
      float: left;
      border-right: 1px solid #606060;
      padding-right: 15px;
  }
  
  section#corpo h6 {
      display: none;
  }
  
  /*FORMATAÇÃO ARTICLE*/
  article#principal h2 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
  }
  
  header#cabecalho-artigo h1 {
   font-family: 'FonteLogo', sans-serif;
   font-size: 20pt;
   color: #606060;
   margin-bottom: 0px;
   margin-top: 0px; 
  }
  
  header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
  }
  
  header#cabecalho-artigo h3 {
   font-size: 12px;
   color: #606060;
   
  }
  
 .direita {
     text-align: right; 
  }
  
  /*FORMATAÇÃO TABELA */
  table#tabelaspec {
      border: 1px solid #606060;
      border-spacing: 0px; /* espacço entre dados */
      margin-left: auto;
      margin-right: auto;
  }
  
  table#tabelaspec td{
      border: 0px solid #606060;
      padding: 10px;
      text-align: center;
      vertical-align: middle;
  }
  
  /*videos*/
  
  video#v01 {
      display: block;
      position: relative;
      left: 5px;
      top: -7px;
      border-bottom: 2px white solid;
  
  }
  
  iframe#v02 {
      display: block;
      position: relative;
      width: 347px;
      height: 250px;
      top: -13px;
  
  }
  
  table#tabelaspec td.l {
      color: #ffffff;
      background-color: black;
      vertical-align: top;
      font-weight: bold;
  }
  
  /*caption configurado como span para formatação */
  table#tabelaspec caption span {
      display: block;
      float: right;
      font: black;
      font-size: 8pt;
      margin-top: 10px;
  }
  
  table#tabelaspec td.r{
    border: 1px solid #606060;
    background-color: #cecece;  
  }
  
  table#tabelaspec caption {
      color: #888888;
      font-size: 13pt;
      font-weight: bolder;
  }
  
  aside#lateral {
      display: block;
      width: 350px;
      float: right;
      background-color: #dddddd; 
      padding: 10px;
      margin-top: 10px;
      box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  }
  
  aside#lateral h1 {
      font-family: 'FonteLogo', sans-serif;
      font-size: 20pt;
      color: #606060;
      margin-top: 0px; 
      margin-left: 3px;
  }
  
  aside#lateral h2 {
      background-color: #606060;
      font-size: 13pt;
      color: white;
      padding: 5px;
  }
  
  footer#rodape {
      clear: both; /*limpar configuração da tela, 2 lados*/
      border-top: 1px solid #606060;
  }
  
  footer#rodape p {
     text-align: center;
  }